           <%if admin_user_signed_in? && current_admin_user.get_role == 'seller' %>
                   <br><br><br><br>
                    <div class="nav-item">
                            <div class="container">

                                <nav class="nav-menu mobile-menu">
                                    <ul>
                                        <li><a href="/stores">All products</a></li>
                                        <li><a href="/store/orders">Orders</a></li>
                                        <li><a href="/stores/new">Add Product</a></li>

                                    </ul>
                                </nav>
                                <div id="mobile-menu-wrap"></div>
                            </div>
                        </div>               
            <% else %>
                <%=redirect_to  root_path %>
            <%end%>